[submodule "Rendering/FirstOpenGL"]
	path = Rendering/FirstOpenGL
	url = https://github.com/jaysdevwork/FirstOpenGL.git
[submodule "Rendering/LearnOpenGL/FirstOpenGL"]
	path = Rendering/LearnOpenGL/FirstOpenGL
	url = https://github.com/jaysdevwork/FirstOpenGL.git
[submodule "C++GUI/FileExplorer/File_Explorer"]
	path = C++GUI/FileExplorer/File_Explorer
	url = https://github.com/codeDuck1/File_Explorer.git
[submodule "Python/Battle_Ship"]
	path = Python/Battle_Ship
	url = https://github.com/codeDuck1/Battle_Ship.git
